label#thumbnail input {
  display: none;
}

label#thumbnail {
  border: 1px dashed #ddd;
  margin-bottom: 30px;
  height: 160px;
  cursor: pointer;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

label#thumbnail.has-thumbnail { border: 0; }
label#thumbnail.has-thumbnail img { display: none; }

div.back-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

div.back-dashboard a {
  text-decoration: none;
  color: #999;
  font-size: 12px;
  transition: all 0.3s ease;
}

div.back-dashboard a:hover { color: #666 }
